*{
    font: 1em sans-serif;
}
.flex-container{
    display:flex;
    align-items: center;
    margin-left: 10px;
    background-color: rgb(224, 240, 240);
    height: 400px;
    border: 1px solid black;
}
.nav-bar{
    background-color: aqua;
    height: 100px;
}
h1{
    margin-bottom: 20px;
}
p{
    margin-bottom: 20px;
}
.img-2{

}
